<mat-list-item 
  [ngClass]="{
    'selection-pending': selection.result === SelectionResult.Pending,
    'selection-won': selection.result === SelectionResult.Won,
    'selection-lost': selection.result === SelectionResult.Lost,
    'selection-pushed': selection.result === SelectionResult.Pushed
  }"
  >
  <img matListItemAvatar [src]="selection.player.imageUrl">
  <span matListItemTitle style="font-weight: 700;">{{ selection.playerName }}</span>
  <span matListItemLine style="font-size: 12px;">{{ selection.matchProgress }}</span>
  <span matListItemLine style="margin-top: -4px; margin-bottom: 1px;">
    <span style="font-weight: 700">{{ selection.choiceDisplay }}</span>
    {{ selection.statTargetValue }} {{ selection.statDisplay }}
  </span>
  <mat-progress-bar mode="determinate" [value]="selection.progressValue" class="error"></mat-progress-bar>
</mat-list-item>
