@use '@angular/material' as mat;

$theme: mat.define-theme();


.selection-won {
    mat-progress-bar {
        --mdc-linear-progress-active-indicator-color: green;
    }
}

.selection-pending {
    mat-progress-bar {
        @include mat.progress-bar-color($theme, $color-variant: primary);
    }
}

.selection-lost {
    mat-progress-bar {
        @include mat.progress-bar-color($theme, $color-variant: error);
    }
}

.selection-pushed {
    mat-progress-bar {
        --mdc-linear-progress-active-indicator-color: rgb(255, 165, 0);
        --mdc-linear-progress-track-color: rgb(255, 165, 0, .3)
    }
}
