<mat-card>
  <mat-card-header style="display: flex; flex-direction: row; gap: 8px; justify-content: space-between;">
    <mat-card-title style="display: flex; flex-direction: row; gap: 8px;">
      Users
      <button mat-raised-button (click)="onAddUser()">
        Add User
      </button>

      <!-- <mat-slide-toggle (toggleChange)="onElliotModeToggleChange()">Elliot mode</mat-slide-toggle> -->
    </mat-card-title>
    <span *ngIf="(secondsUpdatedAgo$ | async) as secondsUpdatedAgo" style="font-size: 10px; font-weight: 300">
      data updated {{ secondsUpdatedAgo }} seconds ago
    </span>
  </mat-card-header>

  <mat-card-content 
    *ngIf="(users$ | async) as users"
    class="user-card-scroll-container hide-scroll-bar"
  >

    <app-user-card *ngFor="let user of users" [user]="user" (click)="onCardClick(user)" style="cursor: pointer" [elliotMode]="elliotMode"></app-user-card>

  </mat-card-content>
</mat-card>
