<h2 mat-dialog-title>Add Users to Slip</h2>
<mat-dialog-content style="display: flex; flex-direction: row; gap: 1rem;">

  <app-active-entry-card 
    *ngIf="slip.status === EntryStatus.Active" 
    [slip]="slip"
    [showMoreButton]="false"
  ></app-active-entry-card>
  <app-settled-entry-card 
    *ngIf="slip.status === EntryStatus.Settled" 
    [slip]="slip" 
    [forceExpansion]="true"
    [showMoreButton]="false"
  ></app-settled-entry-card>

  <ng-content *ngIf="(allUsers$ | async) as users">
    <ng-content *ngIf="(selectedUsernames$ | async) as selectedUsernames">
      <mat-chip-listbox multiple class="mat-mdc-chip-set-stacked">
        <mat-chip-option 
          *ngFor="let user of users"
          [selected]="selectedUsernames.has(user.username)"
          [disabled]="(originalUsername$ | async) === user.username || disabled"
          (selectionChange)="onUserSelectionChange(user, $event.selected)"
        >
          {{ user.firstName }} {{ user.lastName }}
        </mat-chip-option>
      </mat-chip-listbox>
    </ng-content>
  </ng-content>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()" [disabled]="disabled">Close</button>
</mat-dialog-actions>
