<mat-card>
  <mat-card-header>
    <mat-card-title style="font-size: 14px">{{ user.firstName }} {{ user.lastName }}</mat-card-title>
  </mat-card-header>

  <mat-card-content style="font-size: 12px">
    <div *ngIf="(userStats$ | async) as userStats">
      <b>Bets won:</b> {{ userStats.numBetsWon }}<br/>
      <b>Bets lost:</b> {{ userStats.numBetsLost }}<br/>
      <b>Total balance:</b> 
        <span [style.color]="(userStats.moneyWon - userStats.moneyLost) > 0 ? 'green' : 'red'">
          {{ (userStats.moneyWon - userStats.moneyLost) | money}}
        </span><br/>
    </div>
  </mat-card-content>
</mat-card>
