<mat-card>
  <mat-card-header style="display: flex; flex-direction: row; gap: 4px; align-items: center;">
    <mat-card-title style="font-size: 14px">{{ user.firstName }} {{ user.lastName }}</mat-card-title>
    <mat-slide-toggle [checked]="user.enabled" (toggleChange)="onToggleUser()" (click)="$event.stopPropagation()"></mat-slide-toggle>
  </mat-card-header>

  <mat-card-content style="font-size: 12px; text-wrap: nowrap">
    <div *ngIf="(userStats$ | async) as userStats">
      <b>Bets pending:</b> {{ userStats.numBetsPending }}<br/>
      <b>Bets won:</b> {{ userStats.numBetsWon }}<br/>
      <b>Bets lost:</b> {{ userStats.numBetsLost }}<br/>
      <b>Total profit:</b> 
        <span [style.color]="(userStats.totalProfit) >= 0 ? 'green' : 'red'">
          {{ (userStats.totalProfit) | money}}
        </span><br/>
    </div>
  </mat-card-content>
</mat-card>
