.scroll-container {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }