<div *ngIf="{
  editMode: (editMode$ | async),
  underdogUserInfo: (underdogUserInfo$ | async),
  underdogLoginStatusText: (underdogLoginStatusText$ | async),
 } as config">

  <div *ngIf="!config.editMode && config.underdogUserInfo">
    <h3>Connected Accounts</h3>
    <div class="user-card">
      <div style="display: flex; flex-direction: row; align-items: center;">
        <img src="https://underdogfantasy.com/favicon.png" />
  
        <div style="margin-left: 12px;">
          <div style="font-size: 12px; font-weight: 700; color: black;">Underdog</div>
          <div style="font-size: 12px; font-weight: 500;">{{ config.underdogUserInfo.username }}</div>
        </div>
      </div>

      <button mat-button (click)="onEditClicked()">Edit</button>
    </div>
  </div>

  <div *ngIf="config.editMode">
    <form [formGroup]="loginForm">
      <h3 style="color: black">Login to underdog:</h3>
      <mat-form-field style="width: 100%">
        <mat-label>Underdog username</mat-label>
        <input matInput placeholder="Underdog username" formControlName="username">
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Underdog password</mat-label>
        <input matInput type="password" placeholder="Underdog password" formControlName="password">
      </mat-form-field>
      <div>
        <div style="display: flex; flex-direction: row; gap: 4px">
          <button mat-flat-button *ngIf="user?.underdogUserInfo !== undefined" (click)="onCancel()">Cancel</button>
          <button mat-raised-button (click)="onLoginToUnderdog()">Login to Underdog</button>
        </div>
        <mat-error *ngIf="config.underdogLoginStatusText">{{ config.underdogLoginStatusText }}</mat-error>
      </div>
    </form>
  </div>
</div>
