@use '@angular/material' as mat;

$theme: mat.define-theme();


.avatar {
    // Size of the avatar
    width: 50px;
    height: 50px;
    
    // Display settings
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #ddd;
  
    // Make sure the image fits within the avatar circle
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
}


.selection {
    border: 1px solid #ddd;

    mat-progress-bar {
        --mdc-linear-progress-track-height: 2px;
        --mdc-linear-progress-active-indicator-height: 2px;
    }

    &.won {
        border-color: rgb(0, 128, 0);
        mat-progress-bar {
            --mdc-linear-progress-active-indicator-color: rgb(0, 128, 0);
            --mdc-linear-progress-track-color: rgb(0, 128, 0, .3)
        }
    }
    
    &.pending {
        border-color: blue;
        mat-progress-bar {
            @include mat.progress-bar-color($theme, $color-variant: primary);
        }
    }
    
    &.lost {
        border-color: red;
        mat-progress-bar {
            @include mat.progress-bar-color($theme, $color-variant: error);
        }
    }
    
    &.pushed {
        border-color: rgb(255, 165, 0);
        mat-progress-bar {
            --mdc-linear-progress-active-indicator-color: rgb(255, 165, 0);
            --mdc-linear-progress-track-color: rgb(255, 165, 0, .3)
        }
    }
}
