<div #scrollContainer class="scroll-container">

  <ng-template *ngTemplateOutlet="element"></ng-template>

  <ng-container *ngFor="let _ of [].constructor((numCopies$ | async) ?? 0)">
    <ng-template *ngTemplateOutlet="element"></ng-template>
  </ng-container>
</div>

<ng-template #element>
  <div style="display: flex; flex-direction: row;">
    <ng-container *ngIf="autoScrollEnabled">
      <ng-template *ngTemplateOutlet="startBanner"></ng-template>
    </ng-container>
    <ng-template *ngTemplateOutlet="transcludeTemplate"></ng-template>
  </div>
</ng-template>

<ng-template #startBanner>
  <div style="display: flex; flex-direction: column; justify-content: space-evenly; width: 10px; background-color: purple; padding: 4px; margin: 4px; color: white; border-radius: 4px;">
    <div>S</div>
    <div>T</div>
    <div>A</div>
    <div>R</div>
    <div>T</div>
  </div>
</ng-template>
