<mat-card>
  <mat-card-header>
    <mat-card-title>Settled bets</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div *ngIf="(settledSlips$ | async)?.length === 0">No settled bets</div>

    <div 
      *ngIf="(settledSlips$ | async) as slips" 
      style="padding: .25rem; display: flex; flex-direction: row; gap: 8px; justify-content: flex-start; align-items: flex-start; overflow-x: scroll" 
      class="hide-scroll-bar"
    >
      <app-settled-entry-card *ngFor="let slip of slips; trackBy: trackBySlipId" [slip]="slip"></app-settled-entry-card>
    </div>

  </mat-card-content>
</mat-card>
