<mat-card>
  <mat-card-header style="display: flex; flex-direction: row; gap: 8px; align-items: center;">
    <mat-card-title>Active bets</mat-card-title>
    <mat-slide-toggle (toggleChange)="onAutoScrollToggleChange()" [checked]="autoScroll"></mat-slide-toggle>
  </mat-card-header>
  <mat-card-content>

    <div *ngIf="(activeSlips$ | async)?.length === 0">No active bets placed</div>

    <app-auto-scroll *ngIf="((activeSlips$ | async) ?? []) as slips" [autoScrollEnabled]="autoScroll">
      <ng-container *appAutoScrollDirective>
        <div style="padding: .25rem; display: flex; flex-direction: row; gap: 8px; justify-content: flex-start; align-items: flex-start;">
          <mat-card *ngFor="let slip of slips">
            <mat-card-header style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start;">
              <mat-card-title-group>
                <mat-card-title style="display: flex; flex-direction: row; gap: 8px; align-items: flex-start;">
                  <span style="text-wrap: nowrap">{{ slip.selectionCount }} Picks to {{ slip.payoutMultiplier }}x Money</span>
                  <app-slip-user-chips [slip]="slip"></app-slip-user-chips>
                </mat-card-title>
                <mat-card-subtitle>{{ slip.fee | money }} down for {{ slip.maxPayout | money }} payout</mat-card-subtitle>
                <mat-card-subtitle style="display: flex; flex-direction: row;">
                  <app-selection-status-icon
                    *ngFor="let selection of slip.selections"
                    [selection]="selection"
                  ></app-selection-status-icon>
                  <app-entry-type-chip [slip]="slip" style="margin-left: 4px;"></app-entry-type-chip>
                </mat-card-subtitle>
              </mat-card-title-group>
    
              <button mat-icon-button [matMenuTriggerFor]="moreMenu">
                <mat-icon fontIcon="more_horiz"></mat-icon>
              </button>
              <mat-menu #moreMenu="matMenu">
                <button mat-menu-item (click)="onMoreClicked(slip)">Add to group</button>
              </mat-menu>
            </mat-card-header>
            <mat-card-content>
      
              <mat-list>
                <app-selection-row *ngFor="let selection of slip.selections" [selection]="selection"></app-selection-row>
              </mat-list>
    
            </mat-card-content>
            <mat-card-actions [align]="'end'">
              <app-share-link-button [slip]="slip"></app-share-link-button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-container>
    </app-auto-scroll>

  </mat-card-content>
</mat-card>
