<mat-card>

  <mat-card-header>
    <mat-card-title>
      <span>{{ slipChange.user.firstName }} </span> 
      <span> 
        <span *ngIf="slipChange.newStatus === SelectionResult.Won" style="color: green"> WON </span>
        <span *ngIf="slipChange.newStatus === SelectionResult.Lost" style="color: red"> LOST </span>
        <span *ngIf="slipChange.newStatus === SelectionResult.Pushed" style="color: orange"> PUSHED </span>
        their
      </span>
      <span>
        <span *ngIf="slipChange.changeType === SlipChangeType.SLIP_RESULT"> bet </span>
        <span *ngIf="slipChange.changeType === SlipChangeType.SELECTION_RESULT"> leg </span>
      </span>
      
    </mat-card-title>
    <mat-card-subtitle *ngIf="slipChange.newStatus === SelectionResult.Lost">Dumb bitch!</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div
      *ngIf="slipChange.slip as slip" 
      style="margin: 2rem;"
      [ngClass]="{
        'slip-change-focus': slipChange.changeType === SlipChangeType.SLIP_RESULT,
        'won': slipChange.newStatus === SelectionResult.Won,
        'lost': slipChange.newStatus === SelectionResult.Lost
      }"
    >
      <app-entry-card 
        [slip]="slip" 
        [forceExpansion]="true"
        [showMoreButton]="false"
        [selectionResultChange]="slipChange.changeType === SlipChangeType.SELECTION_RESULT ? slipChange : undefined"
      ></app-entry-card>
    </div>
  </mat-card-content>
</mat-card>