
.entry-type-chip {
    display: inline-block;
    background-color: #393939;
    color: white;
    padding: 3px 9px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 16px;

    &.Power {
        background-color: #622622;
    }

    &.Flex {
        background-color: #8c136e;
    }

    &.Streak {
        background-color: darkgreen;
    }
}

