<main class="Loop js-loop">
    <div class="child green">
        <div style="background-color: black; height: 200px">
            <div style="color: white">hello</div>
        </div>
    </div>
    <div class="child red">
        <h2>For</h2>
    </div>
    <div class="child blue">
        <h2>All</h2>
    </div>
    <div class="child orange">
        <h2>And</h2>
    </div>
    <div class="child blue">
        <h2>All</h2>
    </div>
    <div class="child red">
        <h2>For</h2>
    </div>
    
    <div class="child green is-clone">
      <h2>One</h2>
    </div>
    <div class="child red is-clone">
      <h2>For</h2>
    </div>
  </main>
  